
{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Non-Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

    <title>- TO DO -</title>
  </head>

  <body class="bg-dark mt-5">

    <!--Heading & 'add todo list' Button-->
    <div class="heading-container">
      <h1 class="p-4 d-inline-block text-secondary">todo</h1> <!--Logo-->
      <div class="mr-4 d-inline-block">
        <form action="">{% csrf_token %}
          <button class="btn btn-secondary text-dark">+</button>
        </form>
      </div>
    </div>

    <!--Primary todo list container-->
    <div class="todolist-container row d-flex flex-wrap"> <!--There will be multiple `todoitem-list` in this container-->
      {% for td_list, td_items in all_items.items %}
        {% with c=forloop.counter0 %}
          <div class="todolist-list col">
            <div class="list-heading p-4">
              <h2>{{ td_list }}</h2>
            </div>
            <ul class="list-group list-group-flush">                        
              {% for td in td_items %}
                <li class="todoitem list-group-item bg-dark text-light">
                  {{ td.content }}<br>
                  <span id="time">{{ td.time }}</span><br> <!-- List todo item content and time -->
                  <form action="/deleteTodo/{{ td.id }}/" method="post">{% csrf_token %}
                    <input class="btn btn-link" id="deleteBtn" type="submit" value="Delete"/> <!-- Delete todo item -->
                  </form>
                </li>
              {% endfor %}
            </ul>
            <div class="addform">
              <form class="w-100 p-4" name="addTodoForm" action="/addTodo/{{ c }}/" method="post">{% csrf_token %} <!-- When next page validation is ready: onsubmit="validateForm()" -->
                <input id="todo-input" class="px-2 w-75" type="text" name="content" placeholder="what to do..." required/>
                <input class="px-4 float" type="submit" value="Add"/>
              </form>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <script>

      window.onload = function() {
        var input = document.getElementById("todo-input").focus();
      }

      /*
      function validateForm() {
        var x = document.forms["addTodoForm"]["content"].value;
        if (x == "" || x == null) {
          alert("Type something before submitting.");
          return false;
        }
      }
      */

    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
