
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
  </head>
  <body>
    <div class="todolist">
      <h1>todo</h1>
      <ul>
        {% for todo in all_items %}
          <li>{{ todo.content }}<br>{{ todo.time }} <!-- List todo item content and time -->
            <form action="/deleteTodo/{{ todo.id }}/"
              style="display:inline;"
              method="post">{% csrf_token %}
              <input id="deleteBtn" type="submit" value="Delete"/> <!-- Delete todo item -->
            </form>
          </li>
        {% endfor %}
      </ul>
      <div class="addform">
        <form action="/addTodo/" method="post">{% csrf_token %}
          <input type="text" name="content"/>
          <input type="submit" value="Add"/>
        </form>
      </div>
    </div>
  </body>
</html>
