html {
  background-color: #21262c;
}

h1 {
  color: #de5243;
}

.todolist {
  width: 600px;
}

.todolist li input {
  background-color: inherit;
  color: #de5243;
}

.addform input {
  background-color: inherit;
  border: 1px solid #de5243;
  color: #de5243;
}

#time {
  color: rgb(226, 140, 124);
}
