html {
  background-color: #21262c;
}

h1 {
  font-weight: 700;
}

h2 {
  color: #de5243;
}

.todo-container li input {
  background-color: inherit;
  color: #de5243;
}

.todo-container li input:hover {
  color: #e28c7c;
}

.addform input {
  background-color: inherit;
  border: 1px solid #de5243;
  color: #de5243;
}

.addform input:hover {
  color: #fff;
}

#time {
  color: #e28c7c;
}

#deleteBtn {
  color: #de5243;
}